name: Release binary

on:
  push:
    tags:
      - "*"

jobs:
  goreleaser:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - id: vars
        run: |
          echo ::set-output name=go_version::$(cat go.mod | head -3 | tail -1 | cut -d ' ' -f 2)
          echo "Using Go version ${{ steps.vars.outputs.go_version }}"

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ steps.vars.outputs.go_version }}

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.DEPLOY_APP_ID }}
          private-key: ${{ secrets.DEPLOY_APP_KEY }}

      - name: Compile the source
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "~> v2"
          args: "release --clean"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
